html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(purple, white); 
}

.fixed-header{
    display: inline-block;
    position: relative;
    background-color: transparent;
    height: 120px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: white;
}

.new-note header{
    color: white;
    margin-left: 50px;
}

.new-note form{
    width: 20%;
    float: left;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 10px;
    /*heigth: ;
    position: fixed;
    box-sizing: border-box;
    top: 120px; */
}

.form-item{
    margin-top: 10px;
}

button{

}

button:hover{
    cursor: pointer;
}