html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(purple, white); 
}

.fixed-header{
    display: inline-block;
    position: relative;
    background-color: transparent;
    height: 120px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: white;
}